<div class="container">
  <div class="ingredients-container">
    <h1>Ingredients</h1>
    <ul class="list-inline">
      <% if @ingredients %>
      <% @ingredients.each do |ingredient| %>
      <li> <%= ingredient.name %> </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
